html{
    background-color: #CFD8DC;
}
custom-btn-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-areas: "heading heading" "items items";
    margin-bottom: 50px;
}

custom-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.itemTwoCol {
    grid-area: heading
}

load-more-btn {
    background-color: silver;
    display: inline-block;
    padding: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    color: red;
    margin: 10px;
    text-align: center;
}